.pageWrapper {
    max-width: 1024px;
    margin: 0 auto;
}

h6 {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}